* {
    margin: 0;
    padding: 0;
  }
  html {
    height: 100%;
  }
  body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.808);
    height: 100%;
  }
 
  .side-bar {
      display: flex;
      height: 100%;
  }
  
  .head-ul {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.822);
    padding: 25px;
    height: 600px;
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    background-color:rgba(173, 216, 230, 0.74);
    color: black;
    padding-bottom: 10px;
  }
  .head-a {
    font-size: 20px;
    color:black;
    text-decoration: none;
  }
  .title {
    text-align: center;
  }
  .head-li {
    display: inline;
    padding: 15px;
  }
  .email {
    display: flex;
    flex-wrap: wrap;
  }

  .ContactUs {
    display: block;
  }
  
  .sidebar {
    width: 200px;
    height: 100%;
    background-color:rgba(255, 192, 203, 0.692);
    border-radius: 20px;
  }
  .side-a {
    text-decoration: none;
    color: black;
  }
  .side-ul {
    margin-left: 40px;
    align-self: center;
    justify-content: center;
  }
  h2 {
    margin-right: 25px;
  }
  p {
    text-align: center;
  }
  .side-li {
    padding: 10px;
    list-style-type: none;
  }